<div ng-controller="SetupCtrl">
	<div id="wrap_devices" class="">
		<div class="row" style="display: none;">
			<div class="row-sm-12">
				<progressbar class="progress-striped active {{pBarClass}}"
					value="uploadProgress" type="info"> <span
					class="pbar-text">{{uploadFileName |
					characters:27}}&nbsp;::&nbsp;{{uploadProgress}}%&nbsp;finished</span></progressbar>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div ng-controller="SetupTabsCtrl">
					<uib-tabset style="margin-top: 0;"><uib-tab ng-repeat="tab in tabs"
						heading="{{tab.title}}" active="tab.active"
						disabled="tab.disabled">
					<div ng-include="tab.include"></div></uib-tab></uib-tabset>
				</div>
			</div>
		</div>
	</div>
</div>