<div id="wrap_newdevices">
	<div class="wrap-devices-table" class="">
		<div class="devices-table">
			<div class="row">
				<div class="col-sm-6">
					<a
						ng:click="sortBy('name', 'Fresh', devicesFresh, 'pagedDevicesFresh')">Name&nbsp;<span
						class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a>
				</div>
				<div class="col-sm-6">
					<a
						ng:click="sortBy('type', 'Fresh', devicesFresh, 'pagedDevicesFresh')">Type&nbsp;<span
						class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a>
				</div>
			</div>
			<div class="dev-list-wrap-toggle"
				ng:repeat="device in pagedDevicesFresh[currentPageFresh - 1] | filter:query">
				<div class="row" ng:click="toggleDeviceDetailsFresh(device)">
					<div class="col-sm-6 dev-list-header">{{device.name}}</div>
					<div class="col-sm-5 dev-list-header">{{device.devTypeFW}}</div>
					<div class="col-sm-1 dev-list-header">
						<button id="butt_toggle_dev_details_{{device.id}}"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-collapse-{{device.toggleShowDetails
								== true ? 'up' : 'down'}}"
								aria-hidden="true"></span>
						</button>
					</div>
				</div>
				<div id="dev_details_{{device.id}}"
					class="row {{device.toggleShowDetails == true ? 'show' : 'hide'}}">
					<div class="wrap-device-details-vars col-sm-4">
						<dl>
							<dt></dt>
							<dd>
								<button id="butt_store_device_{{device.id}}"
									ng:click="saveNewDevice(device)" class="btn btn-primary btn-lg">
									<span class="glyphicon glyphicon-save"
										aria-hidden="true"></span>&nbsp;Store Device ({{device.name}})
								</button>
							</dd>
							<dt>Device ID:</dt>
							<dd>{{device.id}}</dd>
							<dt>Last IP Address:</dt>
							<dd>{{device.last_ip_address}}</dd>
							<dt>Last Heard:</dt>
							<dd>{{device.last_heard}}</dd>
						</dl>
					</div>
					<div class="wrap-device-details-vars col-sm-4">
						<dl>
							<dt>
								<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;Variables:

							</dt>
							<dd>
								<ul class="list-group">
									<li class="list-group-item"
										ng:repeat="deviceVar in device.caps.vrs">{{deviceVar.varname}}={{deviceVar.value}}({{deviceVar.type}})
									</li>
								</ul>
							</dd>
						</dl>
					</div>
					<div class="wrap-device-details-vars col-sm-4">
						<dl>
							<dt>
								<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>&nbsp;Functions:

							</dt>
							<dd>
								<ul class="list-group">
									<li class="list-group-item"
										ng:repeat="deviceFunc in device.caps.fns">{{deviceFunc}}</span>
									</li>
								</ul>
					</div>
				</div>
			</div>
		</div>
		<p>
			<pagination total-items="totalItemsFresh" page="currentPageFresh"
				items-per-page="pageSizeFresh" class="pagination-sm"
				boundary-links="true" rotate="false"></pagination>
		</p>
		<pre class="pagination-footer">Page: {{currentPageFresh}} of {{pagedDevicesFresh.length}}</pre>
	</div>
</div>