/* app css stylesheet */
/*
palette:
#d3ff37
#e8a732
#ff5044
#9332e8
#1fa1ff
*/
html body * {
	color : #222222;
	font-family: 'Asap', 'Verdana', sans-serif;
}

html body {
	font-family: 'Asap', 'Verdana', sans-serif;
	background: #d3ff37;
	font-size: 2.35em;
}

a, a:visited, a:active {
	color: #13a331;
	text-decoration: none;
}

a:hover {
	color: #126526;
	text-decoration: underline;
}

ul {
	list-style-type: disc;
}

.centered {
	margin: 0 auto;
}

.wait {
	cursor: wait;
}

.push-right {
	float:right;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.smaller {
	font-size: 0.85em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crete Round', 'Arial', sans-serif;
}

h1.app-title {
	font-family: 'Crete Round', 'Arial', cursive;
	float: left;
	color: #ff5044;
	text-shadow: -1px -1px 5px #9332e8;
	-webkit-text-shadow: -1px -1px 5px #9332e8;
	-moz-text-shadow: -1px -1px 5px #9332e8;
	font-size: 3.15em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 8px;
}

.menu {
	list-style: none;
	border-bottom: 0.1em solid #232323;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

.wrap-navbar {
	background-repeat: repeat-x;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
	background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f8f8f8));
	background-image: linear-gradient(to bottom, #E8A732 0%, #F8CA64 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#fff8f8f8', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	background-repeat: repeat-x;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px
		rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px
		rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
	background-image: -webkit-linear-gradient(top, #34df10 0%, #d3ff37 100%);
	background-image: -o-linear-gradient(top, #34df10 0%, #d3ff37 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#34df10),
		to(#d3ff37));
	background-image: linear-gradient(to bottom, #34df10 0%, #d3ff37 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff34df10',
		endColorstr='#ffd3ff37', GradientType=0);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
	box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav>li>a {
	color: #343434;
}

.navbar-default {
	background-color: #fefefe;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #d0d0d0;
}

.navbar-default .topnav>li.active>a, 
	.navbar-default .navbar-nav>li>a:hover {
	background-color: red;
	color: #343434;
	cursor: pointer;
}

.navbar-default .utilnav>li>a {
	background-color: #fefefe;
	border-bottom-left-radius: 10px;
}

.navbar-default .topnav>li.active>a, 
	.navbar-default .navbar-nav>li>a:hover {
	background-color: #34df10;
}

#header_util_nav {
	margin-bottom: 0;
}

.navbar-default .utilnav>li.logo>a,
	.navbar-default .utilnav>li.logo>a:hover,
	.logo a, .logo a:hover {
	background-color: transparent;
}

.btn {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#phone {
	font-weight: bold;
	color: #000;
}

footer {
	margin-top: 0;
	margin-bottom: 11px;
	font-size: 0.95em;
	color: #fff;
	border-top: 1px dashed #ff5044;
	background: #d3ff37;
}

footer p,footer address {
	margin: 0 0 5px 0;
}

.loaderError, .loaderoverlay {
	height: 5em;
	min-height: 5em;
	width: 100%;
	text-align: center;
	z-index: 999;
}

.loaderoverlay {
	background: url(../img/ajax-loader.gif);
	background-position: center 1.5em;
	background-repeat: no-repeat;
}

.loaderError {
	color: #fff;
	background-color: #ef4a4a;
}

.btn-callout {
	border: 1px solid #ff5044;
	background: #fcffff;
	color: #222;
}

.btn-callout:hover {
	border: 1px solid #777;
	background: #ff5044;
	color: #fefefe;
}

.open > .dropdown-menu, .in .dropdown-menu {
  display: block;
}

.btn span {
	color : #fff;
}

.btn span.caret {
	margin-left: 0.65em;
}

.btn .glyphicon-save {
	margin-right: 0.15em;
}

.content-main {
	padding: 8px;
	background-color: #d3ff37;
}

#wrap_alerts {
	position: absolute;
	top: 0;
	right: 100px;
	width: 50%;
	height: 3em;
	padding: 0.8em;
}

.wrap-cloud-dropdown {
	font-weight: 900;
	margin-top: 9px;
	margin-left: 8px;
}

.devices-table .row {
	margin-bottom: 9px;
	padding: 0 10px;
}

.dev-list-wrap-toggle {
	border: 2px solid #1fa1ff;
	background: #ead4fc;
	border-radius: 10px;
	color: #efefef;
}

.dev-list-header {
	margin-top: 9px;
}

.inline-pg-label {
	position: relative;
	top: -30px;
}
