/* app css stylesheet */
/*
palette:
#d3ff37
#e8a732
#ff5044
#9332e8
#1fa1ff
*/
html body * {
	color: #232323;
	font-family: 'Asap', 'Verdana', sans-serif;
}

html body {
	font-family: 'Asap', 'Verdana', sans-serif;
	background: #ff5044;
	font-size: 2.35em;
}

a.ext, a.ext:visited, a.ext:active {
	color: #ff5044;
	text-decoration: none;
	border-bottom: 2px dotted #ff5044;
	cursor: pointer;
}

a.ext:hover {
	color: #ff5044;
	text-decoration: none;
	border-bottom: 2px dotted #9332e8;
	cursor: pointer;
}

ul {
	list-style-type: disc;
}

.centered {
	margin: 0 auto;
}

.wait {
	cursor: wait;
}

.push-right {
	float: right;
}

.align-right {
	text-align: right;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.smaller {
	font-size: 0.85em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crete Round', 'Arial', sans-serif;
}

h1.app-title {
	font-family: 'Crete Round', 'Arial', cursive;
	float: left;
	color: #ff5044;
	text-shadow: -1px -1px 5px #9332e8;
	-webkit-text-shadow: -1px -1px 5px #9332e8;
	-moz-text-shadow: -1px -1px 5px #9332e8;
	text-stroke-width: 1px;
	text-stroke-color: #fefefe;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fefefe;
	-moz-text-stroke-width: 1px;
	-moz-text-stroke-color: #fefefe;
	font-size: 3.15em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 8px;
}

.navbar {
	margin-bottom: 0;
}

#header_util_nav, .navbar-default {
	background-image: -webkit-linear-gradient(top, #e8a732 0%, #d3ff37 140%);
	background-image: -o-linear-gradient(top, #e8a732 0%, #d3ff37 140%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d3ff37),
		to(#f8f8f8));
	background-image: linear-gradient(to bottom, #e8a732 0%, #d3ff37 140%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd3ff37',
		endColorstr='#ffe8a732', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	background-repeat: repeat-x;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px
		rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px
		rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a
	{
	background-image: -webkit-linear-gradient(top, #34df10 0%, #d3ff37 100%);
	background-image: -o-linear-gradient(top, #34df10 0%, #d3ff37 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#34df10),
		to(#d3ff37));
	background-image: linear-gradient(to bottom, #34df10 0%, #d3ff37 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff34df10',
		endColorstr='#ffd3ff37', GradientType=0);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
	box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav>li>a {
	color: #232323;
}

.navbar-default {
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #d0d0d0;
}

.navbar-default .topnav>li.active>a, .navbar-default .navbar-nav>li>a:hover
	{
	background-color: #34df10;
}

.navbar-default .utilnav>li.logo>a, .navbar-default .utilnav>li.logo>a:hover,
	.logo a, .logo a:hover {
	background-color: transparent;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

#header_util_nav {
	margin-bottom: 0;
	height: 4.35em;
	background-image: none;
	background-color: #e8a732;
}

#utilnav {
	float: right;
}

.btn {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#phone {
	font-weight: bold;
	color: #232323;
}

body footer {
	margin-top: 0;
	margin-bottom: 11px;
	padding: 5px 9px;
	border-top: 4px dashed #d3ff37;
	background: #ff5044;
	font-size: 0.65em;
	font-weight: 900;
	font-family: 'Crete Round', 'Arial', sans-serif;
	color: #efefef;
}

body footer * {
	color: #efefef;
	font-weight: 900;
	font-family: 'Crete Round', 'Arial', sans-serif;
}

.loaderError, .loaderoverlay {
	height: 5em;
	min-height: 5em;
	width: 100%;
	text-align: center;
	z-index: 999;
}

.loaderoverlay {
	background: url(../img/ajax-loader.gif);
	background-position: center 1.5em;
	background-repeat: no-repeat;
}

.loaderError {
	color: #fff;
	background-color: #ef4a4a;
}

.btn-callout {
	border: 1px solid #ff5044;
	background: #fcffff;
	color: #222;
}

.btn-callout:hover {
	border: 1px solid #777;
	background: #ff5044;
	color: #fefefe;
}

.open>.dropdown-menu, .in .dropdown-menu {
	display: block;
}

.btn span {
	color: #fff;
}

.btn span.caret {
	margin-left: 0.65em;
}

.btn .glyphicon-save {
	margin-right: 0.15em;
}

.content-main {
	padding: 8px;
	background-color: #d3ff37;
}

#wrap_alerts {
	position: absolute;
	top: 4.35em;
	right: 0;
	width: 50%;
	height: 3em;
	padding: 0.8em;
	font-size: 0.85em;
}

#wrap_alerts alert {
	padding: 5px;
	background: #efefef;
	border: 1px solid #232323;
	border-radius: 5px;
}

.wrap-cloud-dropdown {
	font-weight: 900;
	margin-top: 9px;
	margin-left: 8px;
}

.devices-table .row {
	margin-bottom: 9px;
	padding: 0 10px;
}

.dev-list-wrap-toggle {
	border: 2px solid #1fa1ff;
	background: #fefefe;
	border-radius: 10px;
	color: #efefef;
}

.dev-list-header {
	margin-top: 9px;
}

.inline-pg-label {
	position: relative;
	top: -30px;
}

.wrap-color-picker .row {
	font-size: 0.65em;
}

#wrap_login_btn {
	margin-top: 0.5em;
}

#wrap_login_formbtns {
	margin-bottom: 0.5em;
}