<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="LEDWAXW3" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="LEDWAXW3" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="LEDWAXW3" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="LEDWAXW3" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title translate>TITLE</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- build:css(.) css/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet"
	href="bower_components/html5-boilerplate/dist/css/normalize.css">
<link rel="stylesheet"
	href="bower_components/html5-boilerplate/dist/css/main.css">
<link rel="stylesheet"
	href="bower_components/bootstrap-css/css/bootstrap.css">
<link rel="stylesheet"
	href="bower_components/bootstrap-css/css/bootstrap-theme.css">
<link rel="stylesheet"
	href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
<link rel="stylesheet" type="text/css"
	href="bower_components/angularjs-slider/dist/rzslider.css" />
<link rel="stylesheet"
	href="bower_components/angular-color-picker/dist/angularjs-color-picker.min.css" />
<!-- only include when using bootstrap -->
<link
	href="https://fonts.googleapis.com/css?family=Crete+Round|Fenix|Asap|Goudy+Bookletter+1911"
	rel="stylesheet">
<link rel="stylesheet"
	href="bower_components/angular-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp,app) css/main.css -->
<link rel="stylesheet" href="app.css">
<!-- endbuild -->
<!-- build:js(.) js/vendor.js -->
<!-- bower:js -->
<script
	src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- endbower -->
<!-- endbuild -->
</head>
<body ng-cloak="ng-cloak">
	<div class="wrap_phantom" ng-controller="AppCtrl" data-status="">
		<div id="header_util_nav">
			<h1 class="app-title" translate>APP_TITLE</h1>
			<div style="float: right;">
			<div class="btn-group" uib-dropdown is-open="status.isopen">
				<span uib-dropdown-toggle="uib-dropdown-toggle">Cloud
				<button id="single-button" type="button" class="btn btn-primary"
					ng-disabled="disabled">
					{{currentCloudHost.name}}<span class="caret"></span>
				</button></span>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu"
					aria-labelledby="single-button">
					<li role="menuitem" ng:repeat="o in cloudHosts"><a
						ng:click="currentCloudHost = o">{{o.name}}</a></li>
				</ul>
			</div>
			<div class="btn-group" uib-dropdown>
				<button id="btn-cloud" type="button" class="btn btn-danger"
					uib-dropdown-toggle ng-disabled="disabled">
					Language <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu"
					aria-labelledby="btn-cloud">
					<li role="menuitem"><a
						ng-click="setPreferredLanguage('en_US');" translate>ENGLISH</a></li>
				</ul>
			</div>
			</div>
		</div>
		<nav class="clearfix navbar navbar-default" role="navigation">
			<!-- toggle nav for mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"
					ng-init="navCollapsed = true"
					ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only"></span><span class="icon-bar"></span><span
						class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				ng-class="!navCollapsed && 'in'" 
				ng-click="navCollapsed = true">
				<ul class="nav navbar-nav navbar-left topnav">
					<li ng-repeat="nav in topnav"
						class="{{nav.active && 'active' || ''}}"><a
						ng-click="goToNav(nav.path)" ng-bind="nav.label | translate"></a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div id="wrap_alerts">
			<alert ng-repeat="alert in appAlerts" type="alert.type"
				close="closeAlert($index)" ng-bind="alert.msg"></alert>
		</div>
		<div class="content-main" ng-view="ng-view"></div>
		<footer>
			LEDWax Web UI v<span app-version></span>
		</footer>
	</div>
	<!-- build:js(.) js/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-loader/angular-loader.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script
		src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script
		src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.min.js"></script>
	<!-- <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script> -->
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/html5-boilerplate/dist/js/main.js"></script>
	<script src="bower_components/ng-bootstrap-alerts/dist/index.js"></script>
	<script src="bower_components/tinycolor/dist/tinycolor-min.js"></script>
	<script
		src="bower_components/angular-color-picker/dist/angularjs-color-picker.min.js"></script>
	<script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:js({.tmp,app}) js/app.js -->
	<script src="app.js"></script>
	<script src="services/services.js"></script>
	<script src="controllers/ledwaxapp.js"></script>
	<script src="controllers/login.js"></script>
	<script src="controllers/logout.js"></script>
	<script src="controllers/leds.js"></script>
	<script src="controllers/setup.js"></script>
	<script src="controllers/about.js"></script>
	<script src="components/characters/characters.js"></script>
	<script src="components/characters/characters-filter.js"></script>
	<script
		src="components/human-readable-bytecount/human-readable-bytecount.js"></script>
	<script
		src="components/human-readable-bytecount/human-readable-bytecount-filter.js"></script>
	<script src="components/version/version.js"></script>
	<script src="components/version/version-directive.js"></script>
	<script src="components/version/interpolate-filter.js"></script>
	<script src="components/ledwax-striptype/ledwax-striptype.js"></script>
	<script src="components/ledwax-striptype/ledwax-striptype-filter.js"></script>
	<script src="components/ledwax-displaymode/ledwax-displaymode.js"></script>
	<script
		src="components/ledwax-displaymode/ledwax-displaymode-filter.js"></script>
	<script src="components/ledwax-fademode/ledwax-fademode.js"></script>
	<script src="components/ledwax-fademode/ledwax-fademode-filter.js"></script>
	<!-- endbuild -->
</body>
</html>
